<header>
    <div class="container--lg pt3 pb4">
        <div class="clearfix">
            <div class="float--left">
                <a href="/" class="link--no-underline"><img src="/img/query-logo.svg" class="logo"></a>
            </div>
            <nav class="float--right">
                <ul class="no-bullets list--inline text--dark-gray">
                    <li class=""><a href="/about/" class="link link--gray">About</a></li>
                    <li class="ml3"><a href="/posts/" class="link link--gray">Interviews</a></li>
                    <li class="ml3"><a href="/newsletter/" class="link link--gray">Newsletter</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>