<header>
    <div class="container--lg pt3 pb4">
        <div class="clearfix">
            <div class="float--left float--none-on-mobile align--center-on-mobile mb2-on-mobile">
                <a href="/" class="link--no-underline pr1"><img src="/img/query-mark.svg" class="logo" alt="Query"></a>
            </div>
            <nav class="float--right float--none-on-mobile center-on-mobile">
                <ul class="no-bullets list--inline text--dark-gray flex align-items-center justify-content-center">
                    <li class="ml3 m1-on-mobile"><a href="/archive.html" class="link link--gray_no-underline p1 match-btn">Interviews</a></li>
                    <li class="ml3 m1-on-mobile"><a href="https://twitter.com/queryinterviews" target="_blank" class="link link--gray_no-underline p1 match-btn">Twitter</a></li>
                    <li class="ml3 hide-on-mobile"><a href="/newsletter.html" class="btn btn--outline">Newsletter</a></li>
                    <li class="ml3 m1-on-mobile show-on-mobile"><a href="/newsletter.html" class="link link--gray_no-underline p1 match-btn">Newsletter</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>