<footer class="pt4 pb3 mt4 align--center">
    <a class="link--gray_no-underline full-width-on-mobile m0-on-mobile p1" href="/interviews/">Interviews</a>
    <a class="link--gray_no-underline full-width-on-mobile m0-on-mobile p1 ml3" href="https://twitter.com/queryinterviews" target="_blank">Twitter</a>
    <a class="link--gray_no-underline full-width-on-mobile m0-on-mobile p1 ml3" href="/submit/">Submit</a>
    <a class="link--gray_no-underline full-width-on-mobile m0-on-mobile p1 ml3" href="/contact/">Contact</a>
    <a class="link--gray_no-underline full-width-on-mobile m0-on-mobile p1 ml3" href="/privacy-and-terms/">Privacy & Terms</a>
</footer>
