<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Query | Bite-sized interviews for makers, indie hackers, and entrepreneurs</title>
    <meta name="description" content="Every week, Jordan Bowman interviews a founder of a successful internet business.">
    {%- seo -%}
    <meta name="author" content="Jordan Bowman">

    <!-- The compiled CSS file -->
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

    {%- feed_meta -%}

</head>
