// Base embed styles
// -------------------------------------------------------------------
// Make stuff responsive
img, canvas, iframe, video, svg { max-width: 100%; }

.logo {
    position: relative;
    bottom: 3px;
}

.button-icon {
    bottom: 4px;
}

.link-icon {
    top: 3px;
}
