// Base styles
// -------------------------------------------------------------------
// Default styling, appliable to sections or specific elements
.default-links a,
.default-links a:link,
.default-links a:visited,
.link,
.link:link,
.link:visited {
    color: $link-color;
    text-decoration: none;
    transition: color $fade;
}

.default-links a:hover,
.default-links a:focus,
.link:hover,
.link:focus {
    color: $link-hover-color;
    text-decoration: none;
}

.default-links a:active,
.link:active {
    background-image: none;
    color: $active-link-color;
    outline: 0;
    transition: color $fade;
}

// Gray (like text, no underline)
.gray-links a,
.gray-links a:link,
.gray-links a:visited,
.link--gray_no-underline,
.link--gray_no-underline:link,
.link--gray_no-underline:visited {
    color: $text-color;
    text-decoration: none;
    transition: color $fade;
}

.gray-links a:hover,
.gray-links a:focus,
.link--gray_no-underline:hover,
.link--gray_no-underline:focus {
    color: $link-color;
    text-decoration: none;
}

.gray-links a:active,
.link--gray_no-underline:active {
    background-image: none;
    color: $link-hover-color;
    outline: 0;
    transition: color $fade;
}

// Red link
.red-links a,
.red-links a:link,
.red-links a:visited,
.link--red,
.link--red:link,
.link--red:visited {
    color: $link-color;
    text-decoration: none;
    transition: color $fade;
}

.red-links a:hover,
.red-links a:focus,
.link--red:hover,
.link--red:focus {
    color: $link-hover-color;
    text-decoration: none;
}


.red-links a:active,
.link--red:active {
    background-image: none;
    color: $active-link-color;
    outline: 0;
    transition: color $fade;
}
