<header>
    <div class="container--lg pt3 pb4">
        <div class="clearfix">
            <div class="float--left float--none-on-mobile align--center-on-mobile mb2-on-mobile">
                <a href="/" class="link--no-underline">
                    <h1 class="pr1 logo">
                        <svg height="36" width="35" xmlns="http://www.w3.org/2000/svg"><title>Query</title><path d="M30.272 18.64c3.634-3.69 3.634-9.672 0-13.361a9.206 9.206 0 00-13.16 0L6.65 15.902v13.377h13.175zM23.7 11.967L2 34m24.025-11.016H12.85" stroke="#ed4a38" stroke-width="3.138" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </h1>
                </a>
            </div>
            <nav class="float--right float--none-on-mobile center-on-mobile">
                <ul class="no-bullets list--inline text--dark-gray flex align-items-center justify-content-center">
                    <li class="ml3 m1-on-mobile"><a href="/archive.html" class="link link--gray_no-underline p1 match-btn">Interviews</a></li>
                    <li class="ml3 m1-on-mobile"><a href="https://twitter.com/queryinterviews" target="_blank" class="link link--gray_no-underline p1 match-btn">Twitter</a></li>
                    <li class="ml3 hide-on-mobile"><a href="/newsletter.html" class="btn btn--outline">Newsletter</a></li>
                    <li class="ml3 m1-on-mobile show-on-mobile"><a href="/newsletter.html" class="link link--gray_no-underline p1 match-btn">Newsletter</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>