<!doctype html>
<html lang="en-us">

    {%- include head.html -%}

    <body class="has-animations">

        <!-- <div class="p2 align--center border--bottom">
            <span>🚀 Query is on Product Hunt today! <a href="https://www.producthunt.com/@jrdnbwmn/submitted" target="_blank" class="link">Join the conversation →</a></span>
        </div> -->

        {%- include header.html -%}

        {{ content }}

        {%- include footer.html -%}

        {%- include foot-js.html -%}
        
    </body>

</html>
