---
layout: default
---

<!-- The pitch -->
<section class="pt2 pb4">
    <div class="container--lg">

        <div class="grid-row grid-row--center">
            <div class="grid-column">
                <div class="is-revealing reveal-on-scroll">
                    <h1 class="mb2">Bite-sized interviews with&nbsp;makers.</h1>
                    <p>Join hundreds of entrepreneurs and get quick, three-question interviews with real startup founders every week. Learn how successful products are made from the people in the&nbsp;trenches. <a href="/newsletter/" class="link">Read&nbsp;more</a>.</p>
                </div>
                
                <div class="is-revealing reveal-on-scroll">
                    {%- include newsletter-form.html -%}
                </div>
            </div>
            <div class="grid-column span-2"></div>
            <div class="grid-column span-8 is-revealing reveal-on-scroll hide-on-mobile">
                <img src="/img/business.svg" alt="Query interviews">
            </div>
        </div>
    
    </div>
</section>

<section class="pt4">
    <div class="container--lg">

        <div class="grid-row">
            <!-- Latest interview -->
            <div class="grid-column mb2">
                <h3 class="mb1">Latest interview</h3>
                {% for post in site.posts limit:1 %}
                <div class="mb2-on-mobile">
                    <div class="gray-links child-p-mb1">{{ post.content | truncatewords: 29 | widont }}</div>
                    <a href="{{ post.url }}" class="link--red">Keep Reading →</a>
                </div>
                {% endfor %}
            </div>
            <div class="grid-column span-1"></div>
            <!-- About your interviewer -->
            <div class="grid-column mb2">
                <div class="grid-row">
                    <div class="grid-column">
                        <h3 class="mb1">About your host</h3>
                        <p class="mb1">Hi there 👋. I'm Jordan Bowman, the creator and host of Query. I make stuff for the web just like you and love talking to&nbsp;founders. </p>
                        <a href="https://www.twitter.com/jrdnbwmn" target="_blank" class="link--red">Follow on Twitter →</a>
                    </div>
                    <div class="grid-column span-7 hide-on-mobile">
                        <img class="rounded" src="/img/jordanbowman.jpg" alt="Jordan Bowman">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
