---
layout: default
---

<div class="pt2 pb4">
    <div class="container">

        <!-- Interview -->
        <article class="article red-links" itemscope itemtype="http://schema.org/BlogPosting">
            <p class="font--mono">{{ page.date | date_to_string }}</p>
            <h1>{{ page.title | escape | widont }}</h1>
            {{ content | jt_emdash | smartypants }}
        </article>

        <!-- Tags -->
        <div class="mt4 red-links">
            <p class="font--mono">Tags:
                {% for tag in page.tags %}
                <a class="capitalize" href="{{ site.baseurl }}/tag/{{ tag | slugize }}">{{ tag | widont }}</a>, 
                {% endfor %}
            </p>
        </div>

        <!-- Share on Twitter -->
        <div>
            <a class="btn btn--outline" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20interview%20from%20%40queryinterviews:%20https://www.queryinterviews.com{{ page.url }}"><img class="relative button-icon" src="/img/twitter.svg">&nbsp;&nbsp;Share on Twitter</a>
        </div>

    </div>
</div>

{%- include footer-newsletter.html -%}
