// Base styles
// -------------------------------------------------------------------
// Default styling, appliable to sections or specific elements
.default-links a,
.default-links a:link,
.default-links a:visited,
.link,
.link:link,
.link:visited {
    color: $link-color;
    text-decoration: underline;
    transition: color $fade;
}

.default-links a:hover,
.default-links a:focus,
.link:hover,
.link:focus {
    color: $link-hover-color;
    text-decoration: underline;
}

.default-links a:active,
.link:active {
    background-image: none;
    color: $active-link-color;
    outline: 0;
    transition: color $fade;
}

// Gray (like text)
.link--gray,
.link--gray:link,
.link--gray:visited {
    color: $text-color;
    text-decoration: none;
    transition: color $fade;
}

.link--gray:hover,
.link--gray:focus {
    color: $link-hover-color;
    text-decoration: underline;
}

.link--gray:active {
    background-image: none;
    color: $active-link-color;
    outline: 0;
    transition: color $fade;
}

// Gray (like text)
.link--no-underline,
.link--no-underline:link,
.link--no-underline:visited {
    color: $link-color;
    text-decoration: none;
    transition: color $fade;
}

.link--no-underline:hover,
.link--no-underline:focus {
    color: $link-hover-color;
    text-decoration: none;
}

.link--no-underline:active {
    background-image: none;
    color: $active-link-color;
    outline: 0;
    transition: color $fade;
}
